/* 헤더 */
header {
    height: 60px;
}

/* 컨테이너 */
body .container {
    min-height: calc(100vh - 60px - 120px);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px;
}

/* 푸터 */
footer {
    height: 120px;
}

/* 테이블 행 */
tr:hover td {
    background-color: #f1f5f9;
}

.delete-btn {
    padding-x: 24px;
    padding-y: 4px;
    overflow: hidden;
    transition: height 0.5s ease, padding 0.5s ease; /* 부드럽게 크기와 패딩 변화 */
}

.delete-btn.hide {
    width: 0;
    height: 0;
    padding: 0;
}

/* 로딩 스피너 */
#loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}