/* 헤더 */
header {
    height: 60px;
}

/* 컨테이너 */
body .container {
    min-height: calc(100vh - 60px - 120px);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px;
}

/* 푸터 */
footer {
    height: 120px;
}