/* 헤더 */
header {
    height: 60px;
}

/* 컨테이너 */
body .container {
    min-height: calc(100vh - 60px - 120px);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px;
}

/* 푸터 */
footer {
    height: 120px;
}

/* 테이블 행 */
tr:hover td {
    background-color: #f1f5f9;
}

.delete-btn {
    padding-x: 24px;
    padding-y: 4px;
    overflow: hidden;
    transition: height 0.5s ease, padding 0.5s ease; /* 부드럽게 크기와 패딩 변화 */
}

.delete-btn.hide {
    width: 0;
    height: 0;
    padding: 0;
}