<header class="bg-blue-500 p-4 text-gray-700">
  <div class="mx-auto flex items-center">
    <h1 class="text-xl text-white mr-8">삼삼이 서비스데스크</h1>
    <nav>
      <ul class="flex space-x-5">
        <li><a href="/notice/noticeList" class="text-white hover:relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[2px] after:bg-white after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100">공지사항</a></li>
        <li><a href="/ticket/ticketList" class="text-white hover:relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[2px] after:bg-white after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100">티켓</a></li>
        <li><a href="/agent/agentList" class="text-white hover:relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[2px] after:bg-white after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100">에이전트</a></li>
      </ul>
    </nav>
  </div>
</header>