<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{head.html}"></div>
</head>
<body class="w-full">
<div class="header" th:replace="~{header.html}"></div>
<div class="container min-w-full">
    <div class="divide-y divide-gray-300">
        <h1 class="pb-4 mb-4 text-xl font-bold">
            <i class="fas fa-tags"></i>
            티켓
        </h1>
        <div class="flex gap-x-4">
            <div class="w-1/2">
                <div class="space-y-6">
                    <div class="flex items-center h-24 w-full bg-blue-500 text-white p-6 mb-6">
                        <p class="text-2xl font-semibold text-white" id="inquiry-title"></p>
                    </div>

                    <div class="flex space-x-15 mb-6">
                        <p class="text-sm text-gray-700"><span class="bg-blue-500 text-white px-3 py-1 mr-2 rounded-full text-sm">작성자</span><span id="inquiry-writer-email"></span></p>
                        <p class="text-sm text-gray-700"><span class="bg-blue-500 text-white px-3 py-1 mr-2 rounded-full text-sm">전화번호</span><span id="inquiry-writer-phone-number"></span></p>
                    </div>
                    <div class="flex space-x-15 mb-6">
                        <p class="text-sm text-gray-700"><span class="bg-blue-500 text-white px-3 py-1 mr-2 rounded-full text-sm">등록일자</span><span id="inquiry-created-at"></span></p>
                        <p class="text-sm text-gray-700"><span class="bg-blue-500 text-white px-3 py-1 mr-2 rounded-full text-sm">수정일자</span><span id="inquiry-updated-at"></span></p>
                    </div>

                    <div class="bg-blue-100 min-h-64 p-4 rounded-lg mb-4">
                        <div class="text-md text-gray-700 leading-relaxed" id="inquiry-content">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-1/2">
                <div class="mb-4">
                    <label for="title" class="mb-2 block font-bold text-gray-700"><span class="bg-blue-500 text-white px-3 py-1 mr-2 rounded-full text-sm">제목</span></label>
                    <input id="title" type="text" placeholder="제목을 입력하세요." class="border rounded-md px-4 py-2 focus:ring focus:ring-blue-300 w-full border-gray-300">
                </div>
                <div class="mb-4">
                    <label for="content" class="mb-2 block font-bold text-gray-700"><span class="bg-blue-500 text-white px-3 py-1 mr-2 rounded-full text-sm">내용</span></label>
                    <textarea id="content" placeholder="내용을 입력하세요." class="border rounded-md px-4 py-2 focus:ring focus:ring-blue-300 w-full min-h-85 border-gray-300"></textarea>
                </div>
                <div class="mb-4 flex justify-end">
                    <button type="button" class="mr-2 bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-400" onclick="window.location.href='/ticket/ticketList';">
                        뒤로가기
                    </button>
                    <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-400" onclick="saveReply();">
                        저장
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" th:replace="~{footer.html}"></div>
<script th:inline="javascript">
const inquiryId = new URLSearchParams(window.location.search).get('inquiryId');
const writerEmail = new URLSearchParams(window.location.search).get('writerEmail');
let createFlag = true;

window.onload = async function() {
    await loadInquiryInformation();
};

async function loadInquiryInformation() {
    try {
        if (!inquiryId || !writerEmail) {
            showErrorMessage("잘못된 접근입니다. 문의를 찾을 수 없습니다.");
            return;
        }

        let response = await axios.get('/api/v1/ticket/inquiry', {
            params: {
                id: inquiryId,
                writerEmail: writerEmail
            }
        });

        const inquiryList = response.data.data.list;
        if (!inquiryList || inquiryList.length === 0) {
            showErrorMessage("해당 문의를 찾을 수 없습니다.");
            return;
        }

        const inquiry = inquiryList[0];

        document.getElementById("inquiry-writer-email").textContent = inquiry.writerEmail;
        document.getElementById("inquiry-title").textContent = inquiry.title;
        document.getElementById("inquiry-writer-phone-number").textContent = inquiry.writerPhoneNumber;
        document.getElementById("inquiry-created-at").textContent = inquiry.createdDate;
        document.getElementById("inquiry-updated-at").textContent = inquiry.updatedDate;
        document.getElementById("inquiry-content").textContent = inquiry.content;

        response = await axios.get('/api/v1/ticket/reply', {
            params: {
                inquiryId: inquiryId,
                inquiryWriterEmail: writerEmail
            }
        });

        const replyList = response.data.data;
        if (replyList.length > 0) createFlag = false;
        const reply = replyList[0];

        if (!createFlag) {
            document.getElementById("title").value = reply.title;
            document.getElementById("content").textContent = reply.content;
        }
    } catch (error) {
        console.error(error);
        showErrorMessage("티켓 정보를 불러오는 데 실패했습니다.");
    }
}

async function saveReply() {
    showLoadingSpinner();

    const title = document.getElementById('title').value;
    const content = document.getElementById('content').value;

    try {
        if (createFlag) {
            let response = await axios.post('/api/v1/ticket/reply', {
                inquiryId: inquiryId,
                inquiryWriterEmail: writerEmail,
                title: title,
                content: content,
                writerEmail: 'test1@test.com'
            });
        } else {
            if (!inquiryId || !writerEmail) {
                showErrorMessage("잘못된 접근입니다. 문의를 찾을 수 없습니다.");
                return;
            }

            response = await axios.put('/api/v1/ticket/reply', {
                inquiryId: inquiryId,
                inquiryWriterEmail: writerEmail,
                title: title,
                content: content
            });
        }

        window.location.href='/ticket/ticketList';
    } catch (error) {
        console.error(error);
    } finally {
        hideLoadingSpinner();
    }
}
</script>
</body>
</html>