<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.samsami_service_desk.ticket.service.mapper.InquiryMapper">
    <insert
        id="createInquiry"
        parameterType="kr.co.samsami_service_desk.ticket.dto.InquiryRequestDto$CREATE"
    >
        INSERT INTO tbl_inquiry (
            title,
            content,
            writer_email,
            writer_phone_number
        ) VALUES (
            #{title, jdbcType=VARCHAR},
            #{content, jdbcType=VARCHAR},
            #{writerEmail, jdbcType=VARCHAR},
            #{writerPhoneNumber, jdbcType=VARCHAR}
        )
    </insert>

    <select
        id="readInquiryList"
        parameterType="kr.co.samsami_service_desk.ticket.dto.InquiryRequestDto$READ"
        resultType="kr.co.samsami_service_desk.ticket.dto.InquiryResponseDto"
    >
        SELECT ROW_NUMBER() OVER (ORDER BY created_at) AS row_number,
               id,
               title,
               content,
               writer_email,
               writer_phone_number,
               TO_CHAR(created_at, 'YYYY-MM-DD') AS created_date,
               TO_CHAR(updated_at, 'YYYY-MM-DD') AS updated_date
        FROM tbl_inquiry
        <where>
            <if test="title != null and title != ''">
                <bind name="likeTitle" value="'%' + title + '%'" />
                AND title LIKE #{likeTitle, jdbcType=VARCHAR}
            </if>
            <if test="content != null and content != ''">
                <bind name="likeContent" value="'%' + content + '%'" />
                AND content LIKE #{likeContent, jdbcType=VARCHAR}
            </if>
            <if test="writerEmail != null and writerEmail != ''">
                <bind name="likeWriterEmail" value="'%' + writerEmail + '%'" />
                AND writer_email LIKE #{likeWriterEmail, jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY created_at DESC
        <if test="limit != null and limit != ''">
            LIMIT #{limit}
        </if>
        <if test="offset != null and offset != ''">
            OFFSET #{offset}
        </if>
    </select>

    <select
            id="countInquiryList"
            parameterType="kr.co.samsami_service_desk.ticket.dto.InquiryRequestDto$READ"
            resultType="long"
    >
        SELECT COUNT(1)
        FROM tbl_inquiry
        <where>
            <if test="title != null and title != ''">
                <bind name="likeTitle" value="'%' + title + '%'" />
                AND title LIKE #{likeTitle, jdbcType=VARCHAR}
            </if>
            <if test="content != null and content != ''">
                <bind name="likeContent" value="'%' + content + '%'" />
                AND content LIKE #{likeContent, jdbcType=VARCHAR}
            </if>
            <if test="writerEmail != null and writerEmail != ''">
                <bind name="likeWriterEmail" value="'%' + writerEmail + '%'" />
                AND writer_email LIKE #{writerEmail, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <update
        id="updateInquiry"
        parameterType="kr.co.samsami_service_desk.ticket.dto.InquiryRequestDto$UPDATE"
    >
        UPDATE tbl_inquiry
        SET
        <if test="title != null and title != ''">
            title = #{title, jdbcType=VARCHAR},
        </if>
        <if test="content != null and content != ''">
            content = #{content, jdbcType=VARCHAR}
        </if>
        <if test="writerPhoneNumber != null and writerPhoneNumber != ''">
            writer_phone_number = #{writerPhoneNumber, jdbcType=VARCHAR}
        </if>
        WHERE id = #{id, jdbcType=VARCHAR}
        AND writer_email = #{writerEmail, jdbcType=NUMERIC}
    </update>

    <update
        id="deleteInquiry"
        parameterType="kr.co.samsami_service_desk.ticket.dto.InquiryRequestDto$DELETE"
    >
        UPDATE tbl_inquiry
        SET delete_flag = FALSE
        WHERE id = #{id, jdbcType=VARCHAR}
        AND writer_email = #{writerEmail, jdbcType=NUMERIC}
    </update>
</mapper>