<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.samsami_service_desk.notice.service.mapper.NoticeMapper">
    <insert id="createNotice" parameterType="kr.co.samsami_service_desk.notice.dto.NoticeRequestDto$CREATE">
        INSERT INTO tbl_notice (
            title,
            content,
            writer_email
        ) VALUES (
            #{title, jdbcType=VARCHAR},
            #{content, jdbcType=VARCHAR},
            #{writerEmail, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 공지사항 목록 조회 -->
    <select
        id="readNoticeList"
        parameterType="kr.co.samsami_service_desk.notice.dto.NoticeRequestDto$READ"
        resultType="kr.co.samsami_service_desk.notice.dto.NoticeResponseDto"
    >
        SELECT ROW_NUMBER() OVER (ORDER BY N.created_at) AS row_number,
               N.id,
               N.title,
               N.content,
               N.writer_email,
               TO_CHAR(N.created_at, 'YYYY-MM-DD') AS created_date,
               TO_CHAR(N.updated_at, 'YYYY-MM-DD') AS updated_date,
               U.name AS writer_name
        FROM tbl_notice N LEFT JOIN tbl_agent U
        ON U.email = N.writer_email
        <where>
            <if test="title != null and title != ''">
                <bind name="likeTitle" value="'%' + title + '%'" />
                AND title LIKE #{likeTitle, jdbcType=VARCHAR}
            </if>
            <if test="content != null and content != ''">
                <bind name="likeContent" value="'%' + content + '%'" />
                AND content LIKE #{likeContent, jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                AND id = #{id, jdbcType=NUMERIC}
            </if>
        </where>
        ORDER BY N.created_at DESC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        <if test="offset != null">
            OFFSET #{offset}
        </if>
    </select>

    <!-- 공지사항 목록 개수 조회 -->
    <select
            id="countNoticeList"
            parameterType="kr.co.samsami_service_desk.notice.dto.NoticeRequestDto$READ"
            resultType="long"
    >
        SELECT COUNT(1)
        FROM tbl_notice N LEFT JOIN tbl_agent U
        ON U.email = N.writer_email
        <where>
            <if test="title != null and title != ''">
                <bind name="likeTitle" value="'%' + title + '%'" />
                AND title LIKE #{likeTitle, jdbcType=VARCHAR}
            </if>
            <if test="content != null and content != ''">
                <bind name="likeContent" value="'%' + content + '%'" />
                AND content LIKE #{likeContent, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <update id="updateNotice" parameterType="kr.co.samsami_service_desk.notice.dto.NoticeRequestDto$UPDATE">
        UPDATE tbl_notice
        SET
        <if test="title != null and title != ''">
            title = #{title, jdbcType=VARCHAR},
        </if>
        <if test="content != null and content != ''">
            content = #{content, jdbcType=VARCHAR}
        </if>
        WHERE id = #{id, jdbcType=NUMERIC}
    </update>

    <delete id="deleteNotice" parameterType="kr.co.samsami_service_desk.notice.dto.NoticeRequestDto$DELETE">
        DELETE
        FROM tbl_notice
        WHERE id = #{id, jdbcType=NUMERIC}
    </delete>
</mapper>