<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.samsami_service_desk.user.service.mapper.UserMapper">
    <insert
        id="createUser"
        parameterType="kr.co.samsami_service_desk.user.dto.UserRequestDto$CREATE"
    >
        INSERT INTO tbl_user (
            email,
            password,
            name,
            phone_number,
            user_division
        ) VALUES (
            #{email, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{name, jdbcType=VARCHAR},
            #{phoneNumber, jdbcType=VARCHAR},
            #{userDivision, jdbcType=VARCHAR}
        )
    </insert>

    <select
        id="readUserList"
        parameterType="kr.co.samsami_service_desk.user.dto.UserRequestDto$READ"
        resultType="kr.co.samsami_service_desk.user.dto.UserResponseDto"
    >
        SELECT ROW_NUMBER() OVER (ORDER BY created_at) AS row_number,
               email,
               name,
               phone_number,
               user_division,
               TO_CHAR(created_at, 'YYYY-MM-DD') AS created_date,
               TO_CHAR(updated_at, 'YYYY-MM-DD') AS updated_date
        FROM tbl_user
        <where>
            <if test="email != null and email != ''">
                <bind name="likeEmail" value="'%' + email + '%'" />
                email LIKE #{likeEmail, jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                <bind name="likeName" value="'%' + name + '%'" />
                name LIKE #{likeName, jdbcType=VARCHAR}
            </if>
            <if test="userDivision != null and userDivision != ''">
                user_division = #{userDivision, jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY created_at DESC
        <if test="limit != null and limit != ''">
            LIMIT #{limit}
        </if>
        <if test="offset != null and offset != ''">
            OFFSET #{offset}
        </if>
    </select>

    <select
            id="countUserList"
            parameterType="kr.co.samsami_service_desk.user.dto.UserRequestDto$READ"
            resultType="long"
    >
        SELECT COUNT(1)
        FROM tbl_user
        <where>
            <if test="email != null and email != ''">
                <bind name="likeEmail" value="'%' + email + '%'" />
                email LIKE #{likeEmail, jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                <bind name="likeName" value="'%' + name + '%'" />
                name LIKE #{likeName, jdbcType=VARCHAR}
            </if>
            <if test="userDivision != null and userDivision != ''">
                user_division = #{userDivision, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <update
        id="updateUser"
        parameterType="kr.co.samsami_service_desk.user.dto.UserRequestDto$UPDATE"
    >
        UPDATE tbl_user
        SET
        <if test="password != null and password != ''">
            password = #{password, jdbcType=VARCHAR},
        </if>
        <if test="name != null and name != ''">
            name = #{name, jdbcType=VARCHAR},
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            phone_number = #{phoneNumber, jdbcType=VARCHAR},
        </if>
        <if test="userDivision != null and userDivision != ''">
            user_division = #{userDivision, jdbcType=VARCHAR},
        </if>
            updated_at = CURRENT_TIMESTAMP
        WHERE email = #{email, jdbcType=NUMERIC}
    </update>

    <update
        id="deleteUser"
        parameterType="kr.co.samsami_service_desk.user.dto.UserRequestDto$DELETE"
    >
        UPDATE tbl_user
        SET delete_flag = FALSE
        WHERE email = #{email, jdbcType=NUMERIC}
    </update>
</mapper>